<!-- header start -->

<a href="/" class="logo-readium"><span class="logo" style="background-image: url({{ site.logo }})"></span></a>

<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover }})"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href="/" style="background-image: url('{{ site.logo }}')">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title"></h1>
    <h2 class="blog-description">{{ site.apresentacao }}</h2>
    
    
</header>


  <header class="header-title">
    <div class="header-title-wrap">
      <h1 class="entry-title">
         <p title="{{page.title}}">{{ site.title }}</p>
     </h1>
      <h2>
          <span class="entry-date date published">
           <h2  style="font-size: 24px!important;" class="blog-description">{{ site.description }}</h2>
          </span>
      </h2>

    </div>
  </header>