<!-- header start -->

<a href="/" class="logo-readium"><span class="logo" style="background-image: url({{ site.logo }})"></span></a>

<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover }})"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href="/" style="background-image: url('{{ site.logo }}')">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title" style="    padding: 65px 16px 8px;"></h1>
    <h2 class="blog-description" style="margin-bottom:10px">{{ site.apresentacao }}</h2>
      <div class="social-links">
      <a href="https://www.facebook.com/devvaldirviana" target="_blank"><img class="trans-lin-0-1" src="{{site.url}}\assets\images\social\facebook.png" /></a>
      <a href="https://twitter.com/Valdir_Viana"><img class="trans-lin-0-1" src="{{site.url}}\assets\images\social\twitter.png" /></a>
      <a href="https://plus.google.com/109617801388848562645/about"><img class="trans-lin-0-1" src="{{site.url}}\assets\images\social\googleplus.png" /></a>
      <a href="http://br.linkedin.com/in/valdirviana"><img class="trans-lin-0-1" src="{{site.url}}\assets\images\social\linkedin.png" /></a>
      <a href="#"><img class="trans-lin-0-1" src="{{site.url}}\assets\images\social\rss.png" /></a>
     
    </div>
</header>


  <header class="header-title">
    <div class="header-title-wrap">
      <h1 class="entry-title">
         <p title="{{page.title}}">{{ site.title }}</p>
     </h1>
      <h2>
          <span class="entry-date date published">
           <h2  style="font-size: 24px!important;" class="blog-description">{{ site.description }}</h2>
          </span>
      </h2>

    </div>
  </header>