<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include header-post.html %}



  <section class="section-post" itemscope itemtype="http://schema.org/BlogPosting">

    <div class="wrapper-post">
        <img class="img-thumb-post" src="{{ site.url }}/{{page.image}}"/>
      <div class="post">
        <article role="article" id="scroll" class="post-content" itemprop="articleBody">
          {{ content }}
            <p>Ta curtindo? Compartilha com sua galera.</p>
            <div class="fb-share-button" data-href="{{ page.url | prepend: site.url }}" data-layout="box_count"></div>
            <div class="fb-like" data-href="{{ page.url | prepend: site.url }}" data-layout="box_count" data-action="like" data-show-faces="false" data-share="false"></div>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ page.url | prepend: site.url }}" 
              data-via="Valdir_Viana" data-size="default" data-count="vertical" >Tweet</a>
            <div class="g-plus" data-action="share" data-annotation="vertical-bubble" data-height="60" data-href="{{ page.url | prepend: site.url }}" ></div>
            <div class="g-plusone" data-size="tall" data-href="{{ page.url | prepend: site.url }}" ></div>
             {% if page.offtopic == false %}
            <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: pt_BR</script>
            <script type="IN/Share" data-url="{{ page.url | prepend: site.url }}" data-counter="top"></script>
                {% endif %}
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <!-- valdirviana.github.io - Fim post -->
              <ins class="adsbygoogle"
                  style="display:block"
                  data-ad-client="ca-pub-7851524114238986"
                  data-ad-slot="9680181357"
                  data-ad-format="auto"></ins>
              <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
        </article>
      </div>
    </div>
  </section>

  <section class="post">
    <div class="wrapper">
      {% include disqus.html %}
     </div>
  </section>

  {% include footer.html %}
</body>

</html>