<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include header-post.html %}

  <section class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="wrapper">
      <div class="post">

        <article role="article" id="scroll" class="post-content" itemprop="articleBody">
          {{ content }}
        </article>
      </div>
    </div>
  </section>

  <section class="post">
    <div class="wrapper">
      {% include disqus.html %}
     </div>
  </section>

  {% include footer.html %}
</body>

</html>